<% provide(:path, approval_route_edit_path) %>
<% provide(:show_flag, "show" ) %>
<% provide(:method_text, :patch) %>

<div class="row">

    <h1><b>Approval Route for: <%= @document.doc_type + "/" + @document.doc_number.to_s %></b> <small>Issue #<%= @document.issue_number %></small></h1>

    <div class="form-wrapper">
        
        <%= render 'layouts/form_approval_route' %>
        
    </div>
    
</div>