<h1>Performance Dashboard</h1>

<div class="chart-wrapper col-xs-6">
    <% stackcol_data = [
        {
            name: "Due",
            data: @series1
            },
        {
            name: "Over-Due",
            data: @series2
            }
        ]
        %>
    <%= column_chart stackcol_data, stacked: true, width: "300px", height: "300px"%>
</div>

<div class="chart-wrapper col-xs-6">
    <% pie_data =
        {
            Due: @due,
            Overdue: @over
        }
    %>
    <%= pie_chart pie_data, donut: true, width: "300px", height: "300px"%>
</div>

 <h2>KPIs</h2>
 
    <p><b>Action close-out rate:</b> <%= ((@over.to_f/@year_count.to_f)*100).round(2) %> %.</p>