<div class="wrapper">

    <h1>Performance Dashboard - Documents</h1>

        <h3>KPIs</h3>
     <!--
        <p>
            <b>Action close-out rate:</b> 
            <%#= ((1-(@over.to_f/@year_count.to_f))*100).round(2) %> %.<br/>
            
            <b>Number of open Actions - Type A:</b>
            <%#= @typeA_num %>  
            <b>Type B:</b>
            <%#= @typeB_num %>
            <b>Type C:</b>
            <%#= @typeC_num %><br/>
        
        </p>

    <div class="chart-wrapper col-xs-6">
        <%# stackcol_data2 = [
            {
                name: "Due",
                data: @series1
                },
            {
                name: "Over-Due",
                data: @series2
                }
            ]
            %>
        <%#= column_chart stackcol_data2, title: "Action Types", width: "300px", height: "300px", legend: "bottom"%>
    </div>

    <div class="chart-wrapper col-xs-6">
        <%# pie_data =
            {
                Due: @due,
                Overdue: @over
            }
        %>
        <%#= pie_chart pie_data, donut: true, title: "Open Actions", width: "300px", height: "300px", legend: "bottom"%>
    </div>
    
    <%# if nil %>
    <%# if logged_in? %>
        <%# if current_user.level >= 2 || current_user.team == "SHEQ" %>
            <%#= label_tag :team %>
            <%#= select_tag(:team, "<option>SHEQ</option><option>Operations</option><option>Analytical</option><option>Maintenance</option><option>Projects</option><option>Engineering</option><option>Management</option>".html_safe, prompt: "All", :id => "dashboard-team") %>
            <br/>
            <br/>
            <%#= hidden_field_tag(:newteam, "") %>
        <%# end %>
    <%# end %>
    <%# end %>
    <div class="chart-wrapper col-xs-12">
        <%# stackcol_data1 = [
            {
                name: "Due",
                data: @series3
                },
            {
                name: "Over-Due",
                data: @series4
                }
            ]
            %>
        <%#= column_chart stackcol_data1, stacked: true, title: "Action Owners", width: "600px", height: "400px", id: "action-owner-chart", legend: "bottom" %>
    </div>
-->
</div>
