<h1>Data Uploader</h1>

<div class="form-wrapper">

	<%= label_tag :data, "Select type of data to upload:" %>
	<%= select_tag :data, "<option>actions</option><option>events</option><option>users</option>".html_safe, id: "choose-data" %>

	<br/>

	<%= link_to "UPLOAD DATA", upload_actions_path, :class => "btn btn-warning btn-lg", :id => "data-button" %>

</div>
