<div class="wrapper">

	<h1>Data Uploader Landing Page</h1>

	<p>This will present the user with options to upload data into any of the models.</p>
	<p>There will be a selection box, linked through JavaScript to the button below.</p>

	<%= link_to "UPLOAD DATA", upload_actions_path, :class => "btn btn-warning btn-lg" %>

</div>
