<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ATTENTION, <%= @user.first_name %> <%= @user.last_name %> has submitted a new event report.</h1>
    <p>
      Please follow this link to review the UNOR information, <%= link_to "Click Here", @url %>. 
    </p>
    <p>
      Once the information has been reviewed, set the category and acknowledge reciept of the UNOR. 
    </p>
  </body>
</html>