<div class="wrapper">
    <h2>All Actions</h2>
    <br/>
    <p>
      Download:
      <%= link_to "CSV", actions_path(format: "csv") %> |
      <%= link_to "Excel", actions_path(format: "xls") %>
    </p>
    <table class="actions">
        <tr>
            <th>Reference Number</th>
            <th>Owner</th
            ><th>Description</th>
            <th>Progress</th>
            <th>Close-out</th>
        </tr>
        <%= render @actions  %>
    </table>
    
    <br/>
    
    <br/>
    <%= link_to "Action Options", actions_options_path, class:"btn btn-primary", method: :get %>
</div>