<p>This will be a list of actions owned by the User.</p>

<table class="actions">
    <tr><th>Reference Number</th><th>Owner</th></tr>
  <%= render @actions %>
</table>

<%= link_to "Create/Update Actions", actions_options_path %>
