<% provide(:button_text, "Create a new action") %>
<% provide(:path, actions_path) %>
<% provide(:method_text, :post) %>
<% provide(:show_flag, "") %>
<% provide(:new_flag, "true") %>

<% # Main body of the view %>

<h2>Action Information</h2>

<div class="form-wrapper">
      
      <%= render 'layouts/form_action' %>
  
</div>

