<ul>
    <li><%= link_to "Create", new_action_path(current_user[:id]) %></li>
    <li>Update</li>
    <li>Approve</li>
    <li>Close</li>
    <li>Remove</li>
</ul>

<%= link_to "Back", actions_path(current_user[:id]) %>