<% provide(:button_1_text, "Create New Action") %>
<% provide(:path_1, new_action_path(current_user[:id])) %>

<% provide(:text_label, "Action number:") %>
<% provide(:text_placeholder, "Enter Action ID") %>
<% provide(:number_id, "action-number") %>

<% provide(:button_2_text, "Update Action") %>
<% provide(:path_2, find_actions_path(actions_path)) %>
<% provide(:button_3_text, "Remove Action") %>
<% provide(:path_3, action_path(:action_id)) %>
<% provide(:path_back, actions_path) %>

<h2>Action Options</h2><br/>

<div class="form-wrapper">
    
    <%= render 'layouts/form_options' %>

</div>