
<% provide(:path, action_path) %>
<% provide(:method_text, :patch) %>
<% provide(:show_flag, "show") %>

<h1>Action number: <%= @actions.id %></h1>

<div class="form-wrapper">

      <%= render 'layouts/form_action' %>
  
</div>
