<div class="wrapper">
    <h2>Upload Actions from Excel</h2>

    <div class="form-wrapper">
	    <p><b>The following fields are required with the associated data types:</b></p>
    
        <ul class="instructions">
            <li>Initiator (person placing the action) => Full Name (String)</li>
            <li>Owner (Responsible officer for the action) => Full Name (String) 
                <ul>
                    <li>For new actions this must be one of the registered Users of the SHEQ Actions Application</li>
                </ul>
            </li>
            <li>Date created => DD/MM/YYYY (HH:MM) - time is optional</li>
            <li>Source => QA or SHE (String)</li>
            <li>Description => Short description of the action, including where possible clear close-out criteria.</li>
        </ul>
        
        <%= form_tag import_actions_path, multipart: true do %>
        <%= file_field_tag :file, class: "file-input" %><br/>
        <%= submit_tag "Import Data", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
