<% provide(:button_text, "Update User") %>
<% provide(:path, user_path) %>
<h1>User Information</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/form_edituser' %>
  </div>
</div>