<% provide(:button_text, "Update User") %>
<% provide(:path, user_path) %>
<% provide(:show_flag, "" ) %>
<% provide(:method_text, :patch) %>

<h1>User Information</h1>

<div class="row">

  <div class="form-wrapper">

    <%= render 'layouts/form_user' %>

  </div>

</div>