<h1>Users</h1>

<div class="wrapper">
    
    <% if current_user.level >= 3 || current_user.team == "SHEQ" %>
    	<%= label_tag :team %>
    	<%= select_tag(:team, "<option>SHEQ</option><option>Operations</option><option>Analytical</option><option>Maintenance</option><option>Projects</option><option>Engineering</option><option>Management</option>".html_safe, prompt: "All") %>
     	<br/>
     	<br/>
    <% end %>
    
    <%= render @users %>
    
    
</div>