<div class="wrapper">
    <h2>Upload Users from Excel</h2>

    <div class="form-wrapper">
	
	<table class="instructions">
		<thead></thead>
		<tbody>
			<tr>
				<td>
					<b>The following fields are required:</b>
					<ul>
						<li><b>First Name  => (String)</b></li>
				                <li><b>Last Name  => (String)</b></li>
				                <li><b>email => example@email.com (String)</b></li>
				                <li><b>Password => (String)</b></li>
				                <li><b>Password Confirmation <i> must match Password</i></b> </li>
					</ul>
				</td>
				<td>
					The following fields are optional:
					<ul>
			        		 <li>Team => <i>SHEQ, Maintenance, Engineering, Analytical, Operations</i> (String)</li>
					</ul>	
				</td>
			</tr>
		</tbody>
	</table>
        
        <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file, class: "file-input" %><br/>
        <%= submit_tag "Import Data", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
