<% provide(:button_text, "Update Event") %>
<% provide(:path, event_path) %>
<% provide(:show_flag, "" ) %>
<% provide(:method_text, :patch) %>

<h1>UNOR Information</h1>

<div class="form-wrapper">

    <%= render 'layouts/form_event' %>
  
<% if current_user.team != "SHEQ" %>
    <table>
        <tr>
          <td>
            <%= link_to "Request UNOR Close-out", closeplease_events_path(@events.id), method: :patch, class:"btn btn-primary" %>
          </td>
        </tr>
    </table>
<% elsif current_user.team == "SHEQ" %>
     <table>
        <tr>
          <td>
            <% if @events.close_request_flag == false %>
                <%= link_to "Request UNOR Close-out", closeplease_events_path(@events.id), method: :patch, class:"btn btn-primary" %><br/><br/>
            <% end %>
            <% if @events.close_request_flag %>
                <% if @all_events_closed_flag %>
                	<%= link_to "Close UNOR", close_events_path(@events.id), method: :patch, class:"btn btn-primary" %>
            	<% end %>
            <% end %>
          </td>
        </tr>
    </table>
<% end %>

</div>