<% provide(:button_text, "Update Event") %>
<% provide(:path, event_path) %>
<% provide(:show_flag, "" ) %>
<% provide(:method_text, :patch) %>

<h1>UNOR Information</h1>

<div class="row">

  <div class="form-wrapper">

    <%= render 'layouts/form_event' %>

  </div>

</div>