<% provide(:button_text, "Submit Report") %> 
<% provide(:path, guest_path) %>
<% provide(:show_flag, "" ) %>
<% provide(:method_text, :post) %> 
<% provide(:guest_flag, "true")  %>
 

<div class="wrapper" >

	<h2>Submit your report here.</h2>
	
	<div class="form-wrapper">
		<table class="instructions">
			<thead></thead>
			<tbody>
				<tr>
					<td>
						<b>Remember to include:</b>
						<ul>
							<li><b>Your Name</b></li>
							<li><b>A description of what happened</b></li>
							<li><b>Immediate actions taken</b></li>
						</ul>
					</td>
					<td>
						Provide if possible:

						<ul>
					        	<li>Select type (Safety, Security, Environmental, Quality) <br/><i>(You can choose more than one)</i></li>
							<li>Indicate if event involves an injury</li>
						</ul>	
					</td>
				</tr>
			</tbody>
		</table>

		<br/>

		<%= render  'layouts/form_event' %> <!-- yields to the form partial in /layouts -->

	</div>
</div>
