<div class="wrapper">
    
    <h2>A list of events</h2>
    
    <table class="actions">
        <tr>
            <th>Reference Number</th>
            <th>Associated Actions</th
            ><th>What Happened</th>
            <th>Immediate Actions</th>
        </tr>
        <%= render @events  %>
    </table>
    
</div>