<div class="wrapper">
    
    <h2>A list of events</h2>
    
    <p> <%= link_to "UNOR Options", options_events_path, class:"btn btn-primary", method: :get %> </p>
    
    <table class="actions">
        <tr>
            <th>Reference Number</th>
            <th>What Happened</th>
            <th>Immediate Actions</th>
            <th>Download Form</th>
            <th>Associated Actions</th>
        </tr>
        <%= render @events  %>
    </table>
    
</div>