<% provide(:button_text, "Create Event") %>
<% provide(:path, events_path) %>
<% provide(:show_flag, "" ) %>
<% provide(:method_text, :post) %>
<% provide(:new_flag, "true") %>

<% # Main body of the view %>

<h2>UNOR Information</h2>

<div class="row">

  <div class="form-wrapper">

    <%= render 'layouts/form_event' %> <!-- yields to the form partial in /layouts -->

  </div>

</div>