<% provide(:button_text, "Create Event") %>
<% provide(:path, events_path) %>
<% provide(:show_flag, "" ) %>
<% provide(:method_text, :post) %>

<h1>User Information</h1>

<div class="row">

  <div class="form-wrapper">

    <%= render 'layouts/form_event' %>

  </div>

</div>