<% provide(:button_1_text, "Submit UNOR report") %>
<% provide(:path_1, new_event_path(current_user[:id])) %>

<% provide(:text_label, "UNOR number:") %>
<% provide(:text_placeholder, "Enter UNOR ID") %>
<% provide(:number_id, "event-number") %>

<% provide(:button_2_text, "Update UNOR") %>
<% provide(:path_2, edit_event_path(:event_id)) %>
<% provide(:button_3_text, "Remove UNOR") %>
<% provide(:path_3, event_path(:event_id)) %>
<% provide(:path_back, events_path) %>

<h2>UNOR Options</h2><br/>

<div class="form-wrapper">

    <%= render 'layouts/form_options' %>

</div>