
<% provide(:button_text, "Create New Document") %>
<% provide(:path, documents_path) %>
<% provide(:show_flag, "" ) %>
<% provide(:method_text, :post) %>

<h1>Document Information</h1>

<div class="row">

  <div class="form-wrapper">

    <%= render 'layouts/form_document' %>

  </div>

</div>