@import "bootstrap-sprockets";
@import "bootstrap";

//This will contain app specific styling and positioning of elements in the flow of the page.

//Main page sections and structuring

// Styling for header section

header {
    height: 150px;
    background-color: #000;
    color: #fff;
    text-align: center;

    .app-title {
    	padding: 20px;
    }
}

nav {
    clear:both;
    border-radius: 0;
    background-color: #222;

    a {
        fontweight: 800;
        color: #fff;
    }

    ul li{
        display: inline;
        list-style: none;
    }

}

// This table structure ensures equal height columns for the main section and sidebar

#structure-table { 
    border-collapse: collapse; 
    width: 100%;
}

#structure-table td {
  padding: 10px;
  vertical-align: top;
}

// Styling for the footer section

footer {
    background-color: #000;
    color: #fff;
    text-align: right;
}

// Sets the styling for the main display area

.main {

    background-color: #789;
    height: 100%;
	
	.align-left {
		    text-align: left;
	}
    
	h1, h2, h3, table, form, input, p, .wrapper{
		//border: 1px solid #000;
		text-align: center;

		ul li{
		    list-style: round;
	    }
	}
	

    // Styling for all forms for input or display

	.form-wrapper {
        //border: 1px solid #000;
        @extend .wrapper; 
        width: 60%;
        position: relative;
        left: 20%;
        table {
            width: 100%;
        }
    }
	
    // Stying for charts displayed on dashboards

	.chart-wrapper {
	    //border: 1px solid #000;
	    padding: 0;
	    -webkit-box-align:center;
        -webkit-box-pack:center;
        display:-webkit-box;
	}
}

// Sets the styling for the sidebar

.sidebar{
    
    background-color:#456;
    text-align: center;

    li {
        list-style: none;
    }

    h3, ul, li, div {
        padding: 0;
    }
    
    //border: 1px solid #000;
}

// sets the styling for the table displaying actions

.actions {
    a {
        color: #222;   
    }
	th {
		text-align: center;
		padding: 2px;
		border: 1px solid #000;
	}
    //tr {
        .due {
            background-color: white;
        }
        .urgent {
            background-color: yellow;
        }
        .overdue {
            background-color: red;
        }
    //}
    td {
        text-align: left;
        padding: 2px;
        border: 1px solid #000;
    }
	//border: 3px solid #0f0;
	width: 100%;
}


//