<%-#image_tag("smiley_face.png", :alt => "Profile picture") -%>
<div class"d-inline">
    <%= link_to (image_tag("logo.jpg", :alt => "Inutec")), root_path, :class =>"pull-left" %>
    <h1 class="app-title">SHEQ Application</h1>
    <nav class="navbar">
        <div class="navbar-header pull-right">
        <ul>
            <li><%= link_to "Home", "/", :class => "btn btn-secondary" %></li>
            <% if !logged_in? %>
                <li><%= link_to "Log in", login_path, :class => "btn btn-secondary" %></li>
            <% else %>
                <li><%= link_to "Log out", logout_path, method: "delete", :class => "btn btn-secondary" %></li>
            <% end %>
        </ul>
        </div>
    </nav>
</div>
    