<%-#image_tag("smiley_face.png", :alt => "Profile picture") -%>
<div class"d-inline">
    <%= link_to (image_tag("logo.jpg", :alt => "Inutec")), '#', :class =>"pull-left" %>
    <h1 class="app-title">SHEQ Application</h1>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
        <ul>
            <li>Home</li>
            <li><%= link_to "Log in", login_path %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <li><%= link_to "Back", '/' %></li>
        </ul>
        </div>
    </nav>
</div>
    